.button_default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
  transition: all 0.25s;
}

.button_normal {
  color: #c6a163;
  border: 1px solid #c6a163;
  background-color: transparent;
}

.button_inverted {
  color: #222633;
  border: 1px solid #222633;
  background-color: #c6a163;
}

.button_default svg path {
  transition: all 0.25s;
}

.button_default:hover {
  color: #222633;
  border: 1px solid #222633;
  background-color: #c6a163;
}

.button_default:hover svg path {
  fill: #222633;
}
