.consultation {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 425px;
  background-image: url("/bg3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.consultation::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 34, 49, 0.65);
}

.consultation_steps {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.consultation_steps button {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #585f7a;
  border-radius: 10px;
  background-color: #222633;
  color: #585f7a;
  font-family: serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
}

.consultation_steps button.consultation_steps_sltd {
  border: 1px solid #222633;
  background-color: #c6a163;
  color: #222633;
}

/* Container for the select (optional, for layout control) */
.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

/* Label styling (if used) */
label[for="regime-select"],
label[for="regime-number"] {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: #fff;
}

/* Styling the select element */
#regime-select,
#regime-number {
  width: 350px;
  padding: 15px;
  border: 1px solid #222633;
  border-radius: 5px;
  background-color: #d6d6d6;
  color: #222633;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
  font-size: 1.7rem;
  font-weight: normal;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M8 12l-6-6h12l-6 6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

#regime-number {
  background-image: none;
}

/* Focus and hover states */
#regime-select:focus,
#regime-number:focus,
.fieldset_number input,
.select-container input {
  outline: none;
}

#regime-select:hover,
#regime-number:focus,
.fieldset_number input,
.select-container input {
  outline: none;
}

/* Styling the options (limited control) */
#regime-select option,
#regime-number option {
  font-size: 1.4rem;
  color: inherit;
  background-color: #d6d6d6;
}

/* Styling the disabled option (placeholder) */
#regime-select option:disabled,
#regime-number option:disabled {
  color: #222633;
  background-color: #363c50;
}

.fieldset_number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.fieldset_number input,
.select-container input {
  width: 125px;
  padding: 15px;
  border: 1px solid #222633;
  border-radius: 5px;
  background-color: #d6d6d6;
  color: #222633;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
  font-size: 1.7rem;
  font-weight: normal;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

.select-container input {
  width: 350px;
  padding: 15px;
}

.first_step,
.second_step,
.third_step,
.fourth_step {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.second_step_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.step_visible {
  display: flex;
}

.consultation h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.consultation_btn_start {
  width: 250px;
  padding: 15px;
  border: 1px solid #222633;
  /* text-shadow: 2px 2px 4px #222633; */
  border-radius: 5px;
  background-color: #c6a163;
  color: #222633;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
  transition: all 0.25s;
}
