.consultation {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* gap: 25px;
  transition: all 1.25s; */
}

.consultation_inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --top-offset: 0px;
  overflow: hidden;
}

.consultation_inner::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 34, 49, 0.75);
  backdrop-filter: blur(0px);
}

.consultation_inner::before {
  position: absolute;
  content: "";
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 100vh; */
  background-image: url("../bg3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.consultation_inner.fullscreen {
  position: fixed;
  top: var(--top-offset);
  left: 0;
  width: 100%;
  height: 425px;
  animation: goFullscreen 0.25s linear forwards;
  border: 1px solid red;
  /* overflow: hidden; */
}

.consultation_inner.fullscreen::after {
  backdrop-filter: blur(10px);
}

@keyframes goFullscreen {
  0% {
    top: var(--top-offset);
    height: 425px;
  }
  100% {
    top: 0;
    height: 100vh;
  }
}

.calculator_start_btn button {
  width: 330px;
  justify-content: center;
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.preventivo_form {
  width: 100%;
  max-width: 1000px;
  height: 1200px;
  margin: 125px auto 0;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr minmax(250px, 250px);
  gap: 50px;
  color: #f7f7f7;
  opacity: 0;
  animation: enterIntoView 0.45s ease-out forwards;
  animation-delay: 0.25s;
  overflow: auto;
}

.preventivo_form_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fieldset_type1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes enterIntoView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fieldset_type1 label {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.9rem;
  line-height: 100%;
  font-weight: 300;
  color: #f7f7f7;
  transform: translateY(165%);
  transition: all 0.25s;
  pointer-events: none;
}

.fieldset_type1 label.move_up {
  transform: translateY(0%);
}

.fieldset_type1 input {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #f7f7f7;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 100%;
  font-weight: normal;
  color: #f7f7f7;
  transition: all 0.25s;
}

.fieldset_type1 input:focus {
  border-bottom: 1px solid #c6a163;
}

.fieldset_mandatory {
  margin: 0 10px;
  color: #c6a163;
}

.preventivo_form_actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
  width: 100%;
}

.preventivo_form_actions button {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 860px) {
  .preventivo_form_actions {
    position: absolute;
    max-width: 300px;
    z-index: 1;
    bottom: 60px;
    left: 50%;
    gap: 5px;
    transform: translateX(-50%);
  }

  .consultation_inner {
    padding-top: 120px;
    justify-content: flex-start;
  }

  .preventivo_form {
    display: flex;
    margin: 0;
    padding: 0 15px;
    height: calc(100% - 200px);
  }
}
/* .consultation_inner {
    justify-content: flex-start;
    padding-top: 120px;
  }

  .calculator_start_btn button {
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 20px 25px;
  }

  .preventivo_form {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: calc(100% - 150px);
    margin: 0 0 0;
    padding: 0px 15px 0px;
    grid-template-columns: 1fr;
    gap: 15px;
    overflow: scroll;
  }

  .preventivo_form_inputs {
    gap: 15px;
  }

  .fieldset_type1 label {
    font-size: 1.6rem;
  }

  .fieldset_type1 input {
    font-size: 1.7rem;
  }

  .preventivo_form_actions {
    position: fixed;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    z-index: 9;
    bottom: 0;
    left: 50%;
    gap: 10px;
    padding: 15px;
    transform: translateX(-50%);
  }

  .preventivo_form_actions button {
    padding: 15px;
    text-align: center;
  }
} */
