.new_footer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #222633;
}

.footer_left_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_social {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_social li {
  padding: 3.5px;
  border: 1px solid #c6a163;
  border-radius: 3px;
  background-color: #c6a163;
  color: #222633;
}

.footer_right_area {
  display: flex;
  gap: 30px;
}

.footer_navigation,
.footer_contact,
.footer_working_hours {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_navigation li:first-child,
.footer_contact li:first-child,
.footer_working_hours h6 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.footer_navigation li a,
.footer_contact li,
.footer_working_hours p {
  font-size: 1.4rem;
}

.footer_navigation li:not(:first-child):hover,
.footer_contact li:not(:first-child):hover {
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

.working_hours {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright {
  position: absolute;
  bottom: 25px;
  left: 50%;
  color: #fff;
  font-size: 1rem;
  transform: translateX(-50%);
}

.contact_wa_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8.5px 15px;
  color: #222633;
  border: 1px solid #c6a163;
  border-radius: 13px;
  background-color: #c6a163;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
}

.footer_contact_map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%;
  padding: 25px;
  overflow: hidden;
}

.footer_contact_map iframe {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 300px;
  border: 3px solid #222633;
  border-radius: 8px;
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
  overflow: hidden;
}

/* .footer_logo {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
} */

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 860px) {
  .new_footer {
    padding: 50px 15px 100px;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .footer_left_area {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
  }

  .footer_social {
    align-self: flex-end;
  }

  .footer_right_area {
    justify-content: space-between;
    gap: 0px;
  }

  .footer_navigation {
    display: none;
  }

  .footer_navigation li:first-child,
  .footer_contact li:first-child,
  .footer_working_hours h6 {
    margin-bottom: 10px;
    font-size: 1.45rem;
    font-weight: bold;
  }

  .footer_navigation li a,
  .footer_contact li,
  .footer_working_hours p {
    font-size: 1.2rem;
  }

  .copyright {
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-size: 1rem;
    transform: translateX(-50%);
  }

  .contact_wa_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.5px 15px;
    color: #222633;
    border: 1px solid #c6a163;
    border-radius: 13px;
    background-color: #c6a163;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
  }

  .template_bg_img h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
