.main_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  padding: 0 25px;
  background-color: transparent;
  transition: all 0.5s;
  /* box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.25); */
}

.main_nav_blue {
  height: 80px;
  background-color: #222633;
}

.main_nav_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main_nav_logo img {
  width: 300px;
}

.main_nav_logo h6 {
  font-size: 2.4rem;
  color: #c6a163;
  /* text-shadow: 2px 2px 4px rgb(53, 41, 12); */
}

.main_nav_ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main_nav ul li {
  font-size: 1.8rem;
  line-height: 100%;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-width: 32px;
  width: 100%;
  height: 100%;
}

.dropdown_menu span {
  display: block;
  min-width: 100%;
  width: 100%;
  border-radius: 2px;
  border: 2px solid #fff;
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 860px) {
  .main_nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 0 25px;
    background-color: transparent;
    transition: all 0.5s;
  }

  .main_nav_blue {
    height: 80px;
    background-color: #222633;
  }

  .main_nav_logo img {
    width: 200px;
  }
}
