.news {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  padding: 20px 10px;
  color: #222633;
}

.news_our_picks_h2 {
  font-size: 2rem;
  font-weight: bold;
}

.news_our_picks_h3 {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: normal;
}

.news_our_picks_ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 25px 0 0;
}

.news_our_picks_ul li {
  display: flex;
  gap: 25px;
  padding: 10px;
  color: #222633;
  border-bottom: 2px solid #212121;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgb(34, 38, 51, 0.5);
  transition: background 0.25s;
}

.news_our_picks_ul li:hover {
  background-color: rgb(88, 95, 122, 0.15);
}

.news_our_picks_ul li h2 {
  margin-top: 2.5px;
  font-size: 1.6rem;
  font-weight: bold;
}

.news_swiper {
  width: 600px;
  height: 400px;
}

.swiper-slide {
  position: relative;
  height: 100%;
}

.swiper_slide_inner {
  padding: 10px;
  cursor: pointer;
}

.news_swiper_main_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgb(34, 38, 51, 0.5);
  overflow: hidden;
}

.news_swiper_main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news_slide_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  bottom: 50px;
  left: 50%;
  width: 80%;
  max-width: 80%;
  min-height: 120px;
  padding: 10px;
  border-bottom: 2px solid #212121;
  border-radius: 3px;
  background-color: #fff;
  color: #222633;
  box-shadow: 0px 0px 10px 0px rgb(34, 38, 51, 0.5);
  transform: translateX(-50%);
  user-select: none;
}

.news_slide_info h2 {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: bold;
}

.news_slide_date {
  font-size: 1.4rem;
}

.news_slide_author {
  display: flex;
  align-items: center;
  gap: 20px;
}

.news_slide_author h6 {
  color: #c6a163;
}

.news_slide_author h5,
.news_slide_author h6 {
  font-size: 1.3rem;
}

.news_slide_author img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.swiper-pagination {
  position: unset;
  bottom: unset;
  left: unset;
  right: unset;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.swiper-pagination-bullet {
  width: 35px;
  height: 6px;
  border-radius: 1px;
  background-color: #585f7a;
  opacity: 0.35;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #c6a163;
}

.swiper_commands {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transform: translateY(-10px);
}

.swiper_progressbar_outter {
  width: 100%;
  height: 6px;
  border-radius: 1px;
  background-color: rgb(88, 95, 122, 0.35);
  overflow: hidden;
}

.swiper_progressbar_inner {
  height: 100%;
  width: 0%;
  background-color: #c6a163;
  animation: progressbarFill 3s linear infinite;
}

@keyframes progressbarFill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.paused {
  animation-play-state: paused !important;
}

/* .template_content {
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  overflow: auto;
}

.template_bg_img {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  color: #222633;
  overflow: hidden;
}

.template_bg_img img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.template_bg_img h2 {
  font-size: 6rem;
}

.template_body {
  max-width: 1000px;
  margin: 50px auto;
  color: #222633;
}

.template_body p {
  font-size: 2rem;
} */
