.our_mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #222633;
  background: #222633 url("/bg_noise2.png");
  background-repeat: repeat;
}

.our_mission_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
}

.our_mission_description {
  padding: 30px 10px;
  max-width: 500px;
}

.our_mission h2 {
  color: #c6a163;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 50px;
}

.our_mission h6 {
  font-size: 1.5rem;
  text-align: left;
  font-weight: normal;
}

.our_mission_image {
  min-width: 300px;
  width: 400px;
  height: 400px;
  max-width: 400px;
  border-radius: 5px;
  background-image: url("/bg2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}
