.our_mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #222633;
  background: #222633 url("../bg_noise2.png");
  background-repeat: repeat;
}

.our_mission_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
}

.our_mission_description {
  padding: 30px 10px;
  max-width: 500px;
}

.our_mission h2 {
  margin-bottom: 50px;
  color: #c6a163;
  font-size: 2.6rem;
  line-height: 100%;
  font-weight: normal;
  font-family: "Cinzel", serif;
  text-align: center;
}

.our_mission h6 {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0.01em;
  font-family: "Lato", sans-serif;
  text-align: left;
}

.our_mission_image {
  min-width: 300px;
  width: 400px;
  height: 400px;
  max-width: 400px;
  border-radius: 5px;
  background-image: url("../bg2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 860px) {
  .our_mission_inner {
    justify-content: center;
  }

  .our_mission_image {
    display: none;
  }
}
