.page_loader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  background: #222633;
  background: radial-gradient(circle, #343b52 0%, #222633 100%);
  animation: hide 1.5s 2.75s linear forwards;
}

.page_loader_component {
  position: relative;
  border: 1px solid rgb(255, 255, 255, 0.5);
  transform: rotate(45deg);
  animation: zoomIn 1.5s 2.75s linear forwards;
}

.page_loader_component_outter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border: 1px solid #fff;
  opacity: 0.25;
  transform: translate(-50%, -50%);
  animation: rotateAround 15s linear infinite;
}

@keyframes rotateAround {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.square_cluster {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80px;
  height: 80px;
  /* background-color: rgb(88, 95, 122); */
}

.load_square {
  width: 40px;
  height: 40px;
  background-color: rgb(88, 95, 122);
  opacity: 0;
}

.load_square[data-index="1"] {
  opacity: 1;
}

.load_square[data-index="2"] {
  animation: show 0.1s 0.75s linear forwards;
}

.load_square[data-index="3"] {
  animation: show 0.1s 1.75s linear forwards;
}

.load_square[data-index="4"] {
  animation: show 0.1s 1.25s linear forwards;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.moving_load_square {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #c6a163;
  transform-origin: right;
  transform: translate(0, 0) rotate(0deg, 0deg);
  animation: flip 2.5s 0.25s linear forwards;
}

@keyframes flip {
  0% {
    transform-origin: right;
    transform: translate(0, 0) rotateY(0deg) rotateX(0deg);
  }
  20% {
    transform-origin: right;
    transform: translate(0, 0) rotateY(180deg) rotateX(0deg);
  }
  20.01% {
    transform-origin: bottom;
    transform: translate(40px, 0) rotateY(0deg) rotateX(0deg);
    /* transform: translateX(40px) rotateY(0deg); */
  }
  40% {
    transform-origin: bottom;
    transform: translate(40px, 0) rotateY(0deg) rotateX(180deg);
    /* transform: translateX(40px) rotateY(0deg) rotateX(180deg); */
  }
  40.01% {
    transform-origin: left;
    /* transform: translateX(40px) translateY(40px) rotateY(0deg) rotateX(180deg); */
    transform: translate(40px, 40px) rotateY(0deg) rotateX(0deg);
  }
  60% {
    transform-origin: left;
    transform: translateX(40px) translateY(40px) rotateY(-180deg) rotateX(0deg);
  }
  60.01% {
    transform-origin: top;
    transform: translate(0px, 40px) rotateY(0deg) rotateX(0deg);
  }
  80% {
    transform-origin: top;
    transform: translate(0px, 40px) rotateY(0deg) rotateX(-180deg);
  }
  80.01% {
    opacity: 1;
    transform: translate(0px, 0px) rotateY(0deg) rotateX(0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, 0px) rotateY(0deg) rotateX(0px);
  }
  /* 60% {
    transform-origin: left;
    transform: translateX(40px) translateY(40px) rotateY(-180deg) rotateX(180deg);
  }
  60.1% {
    transform-origin: top;
    transform: translateX(0px) translateY(40px) rotateY(0) rotateX(0);
  }
  80% {
    transform-origin: top;
    transform: translateX(0px) translateY(40px) rotateY(0) rotateX(-180deg);
  }
  80.1% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotateY(0) rotateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0px) translateY(0px) rotateY(0) rotateX(0);
  } */
}

@keyframes zoomIn {
  from {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: rotate(45deg) scale(100);
    user-select: none;
    pointer-events: none;
  }
}

@keyframes hide {
  from {
    filter: blur(15px);
    opacity: 1;
  }
  to {
    filter: blur(0px);
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

.loder_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.loder_contact h2 {
  font-size: 4rem;
  line-height: 4rem;
  font-family: "Cinzel", serif;
  font-weight: normal;
  font-weight: normal;
  text-align: center;
}

.loder_contact h3 {
  margin-top: 15px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: normal;
}

.loader_contact_links {
  display: flex;
  gap: 15px;
  width: 350px;
  padding: 30px 0;
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 860px) {
  .loder_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .loder_contact h2 {
    margin: 0 15px;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  .loder_contact h3 {
    margin-top: 30px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
  }

  .loader_contact_links {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    width: 300px;
    padding: 0px 10px;
  }
}
