/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* CUSTOM DEFAULT STYLES VARIABLES */
:root {
  --color-custom1: #f1dabb;
  --color-custom2: #3f200b;
}

/* SET THE STYLES BASED ON THE USER SYSTEM PREFERENCES FOR DARK THEME OR LIGHT THEME */
@media (prefers-color-scheme: dark) {
  /* IMPLEMENT THE FOLLOWING IF WE WANT TO ALLOW THE USER TO TOGGLE MANUALLY LIGHT DARK MODE */
  /* :root:not(.light) {
    This will apply if no class is set OR if 'dark' class is there
    --decor-color-1: green;
    Other dark theme variables
  } */
}

/* if light will use already the above :root variables */
@media (prefers-color-scheme: light) {
  /* :root {
  } */
}

/* CUSTOM STYLES SETTINGS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* SETTING SOME DEFAULT STYLES */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

body {
  min-height: 100dvh;
  height: 100%;
  margin: 0;
  /* background: -webkit-radial-gradient(
    circle at center,
    rgb(252, 214, 133) 0%,
    rgb(254, 212, 131) 25%,
    rgb(252, 194, 118) 75%,
    rgb(250, 178, 110) 100%
  ); */
  /* background: radial-gradient(circle at center, #fff 0%, #625847 25%, #625847 75%, #625847 100%); */
  transform: translateZ(0);
  /* background-image: linear-gradient(rgba(139, 69, 19, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(139, 69, 19, 0.1) 1px, transparent 1px),
    linear-gradient(rgba(139, 69, 19, 0.2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(139, 69, 19, 0.2) 2px, transparent 2px);
  background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px; */
  /* 
  background-color: #625847; */
  background-image: url(./assets/bg_noise.png);
  background-position: center;
  background-size: cover;
}

button,
fieldset,
a {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  background-image: url("/fallback-avatar.png");
  background-size: cover;
  background-position: center;
}

.side_nav {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(-50%);
}

.side_nav ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}

.side_nav ul li {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #363c50;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: #585f7a;
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
}

.side_nav ul li:last-child {
  width: 60px;
  height: 80px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: #585f7a;
  font-size: 3.3rem;
  font-weight: bolder;
}

.side_nav ul li.active {
  background-color: #222633;
  width: 70px;
}

header {
  width: 100%;
  height: 100vh;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 25px;
  background-color: #222633;
}

.main_nav_logo {
  transform: translateY(-5px);
}

.main_nav ul {
  display: flex;
  gap: 10px;
}

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
  /* -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

.hero_description {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.hero h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 2px 2px 4px #222633;
}

.hero h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #222633;
}

.btn_default {
  width: 250px;
  padding: 15px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #222633;
  font-size: 2rem;
  text-align: center;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.75);
}

.decor1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 95, 105, 0.25);
  clip-path: polygon(0 0, 30% 0, 50% 100%, 0% 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.decor2 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 95, 105, 0.25);
  clip-path: polygon(0 95%, 100% 70%, 100% 100%, 0% 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.brief {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.brief_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 115px;
  background-color: #222633;
  border-radius: 15px;
  box-shadow: 1px 10px 32px 5px rgba(21, 21, 21, 0.25);
  -webkit-box-shadow: 1px 10px 32px 5px rgba(21, 21, 21, 0.25);
  -moz-box-shadow: 1px 10px 32px 5px rgba(21, 21, 21, 0.25);
  background-image: url(./assets/bg_noise2.png);
  font-size: 2.8rem;
  text-align: center;
  transform: translateY(-135px);
  user-select: none;
}

.brief_card::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -5%;
  width: 50%;
  border: 3px solid #fff;
  border-radius: 5px;
  transition: all 0.25s;
}

.brief_card:hover::before {
  width: 80%;
  border: 3px solid rgb(161, 94, 94);
}

.brief_card_ball {
  position: absolute;
  top: -25px;
  left: 15%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  background-color: #222633;
  transform: translate(-50%, 0);
  background-image: url(./assets/bg_noise2.png);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.75);
  /* -webkit-box-shadow: 10px 10px 12px -2px rgba(207, 207, 207, 0.75);
  -moz-box-shadow: 10px 10px 12px -2px rgba(207, 207, 207, 0.75); */
}

.introduction {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height: 500px;
  padding: 15px 35px;
  display: grid;
  grid-template-columns: minmax(380px, 300px) 1fr;
  gap: 50px;
}

.introduction_bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 65%);
  background-color: rgb(88, 95, 122);
}

.introduction_img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/building.jpg);
  border-radius: 5px;
  border: 1px solid rgb(88, 95, 122);
  transform: translateY(-50px);
  overflow: hidden;
}

.introduction_description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 0;
}

.introduction_description h5 {
  font-size: 2.8rem;
  text-shadow: 2px 2px 4px #222633;
}

.introduction_description_main {
  display: flex;
  gap: 15px;
}

.introduction_description_main span.decor {
  font-size: 18rem;
  line-height: 12rem;
  text-shadow: 2px 2px 4px #222633;
}

.introduction_description_main h6 {
  font-size: 1.7rem;
  text-shadow: 2px 2px 4px #222633;
}

.text_end {
  /* display: flex;
  justify-content: flex-end; */
  display: block;
  text-align: center;
}

.main_title {
  color: #222633;
  text-align: center;
}

.main_title h2 {
  font-weight: bold;
  font-size: 3rem;
}

.main_title h3 {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 2.2rem;
}

.services_ul {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.services_ul li:nth-child(odd) {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 15px 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #222633;
  background-image: url(./assets/bg_noise2.png);
  transform: translateX(-5%);
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
}

.services_ul li:nth-child(even) {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 15px 40px;
  border: 1px solid #222633;
  border-radius: 5px;
  color: #222633;
  transform: translateX(5%);
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
}

.services_ul li::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -5%;
  width: 30%;
  border: 3px solid #fff;
  border-radius: 5px;
  transition: all 0.25s;
}

.services_ul li:hover::before {
  width: 50%;
  border: 3px solid rgb(161, 94, 94);
}

.services_li_numb {
  font-size: 4rem;
  line-height: 2.4rem;
  color: goldenrod;
}

.services_li_body h2 {
  font-size: 2rem;
  font-weight: bold;
}

.services_li_body p {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: normal;
}
