/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* CUSTOM DEFAULT STYLES VARIABLES */
:root {
  --color-custom1: #f1dabb;
  --color-custom2: #3f200b;
}

/* SET THE STYLES BASED ON THE USER SYSTEM PREFERENCES FOR DARK THEME OR LIGHT THEME */
@media (prefers-color-scheme: dark) {
  /* IMPLEMENT THE FOLLOWING IF WE WANT TO ALLOW THE USER TO TOGGLE MANUALLY LIGHT DARK MODE */
  /* :root:not(.light) {
    This will apply if no class is set OR if 'dark' class is there
    --decor-color-1: green;
    Other dark theme variables
  } */
}

/* if light will use already the above :root variables */
@media (prefers-color-scheme: light) {
  /* :root {
  } */
}

/* CUSTOM STYLES SETTINGS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* SETTING SOME DEFAULT STYLES */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  overflow-x: hidden;
}

body {
  background-color: #f7f7f7;
  /* background-image: url("./assets/bg_noise.png"); */
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

button,
fieldset,
a {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  background-image: url("/fallback-avatar.png");
  background-size: cover;
  background-position: center;
}

@media (hover: hover) and (pointer: fine) {
  .btn_default:hover {
    color: #222633;
    border: 1px solid #222633;
    background-color: #d6d6d6;
    box-shadow: 2px 2px 2px 0px #222633;
  }

  .brief_card:hover::before {
    width: 80%;
    border: 3px solid rgb(161, 94, 94);
  }

  .services_ul li:hover::before {
    width: 50%;
    border: 3px solid rgb(161, 94, 94);
  }

  .hov_el {
    position: relative;
    padding: 2.5px;
    user-select: all;
    overflow: hidden;
    transition: all 0.25s;
  }

  .hov_el::before {
    position: absolute;
    content: "";
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 38, 51, 0.25);
    transition: all 0.25s;
  }

  .hov_el:hover::before {
    right: 0;
  }
}

@media (hover: none) {
  /* Styles for .btn_default when pressed on mobile */
  .btn_default:active {
    color: #222633;
    border: 1px solid #222633;
    background-color: #d6d6d6;
    box-shadow: 2px 2px 2px 0px #222633;
  }

  /* Styles for .brief_card pseudo-element when pressed on mobile */
  .brief_card:active::before {
    width: 80%;
    border: 3px solid rgb(161, 94, 94);
  }

  /* Styles for .services_ul li pseudo-element when pressed on mobile */
  .services_ul li:active::before {
    width: 50%;
    border: 3px solid rgb(161, 94, 94);
  }
}

.cookie_modal {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  height: 180px;
  padding: 15px;
  border: 2px solid #222633;
  border-radius: 7px;
  color: #222633;
  background-color: #fff;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, 500px);
  animation: enterView 0.25s ease-out forwards;
  animation-delay: 1.75s;
}

@keyframes enterView {
  from {
    transform: translate(-50%, 500px);
  }
  to {
    transform: translate(-50%, 0px);
  }
}

.cookie_modal svg {
  position: absolute;
  z-index: 0;
  width: 36px;
  height: 36px;
  bottom: 15px;
  left: 15px;
}

.cookie_modal svg path,
.cookie_modal svg circle {
  fill: #222633;
  opacity: 0.35;
}

.cookie_modal p {
  font-size: 1.6rem;
}

.cookie_modal button {
  width: 150px;
  margin-left: auto;
  padding: 7.5px 15px;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: #222633;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

.side_nav {
  position: fixed; /* Fixed to stay in viewport regardless of scroll */
  top: 50%; /* Center vertically */
  right: 0; /* Align to the right edge */
  transform: translateY(-50%); /* Offset to center vertically */
  z-index: 2; /* Ensure it stays above other content */
  padding: 10px; /* Optional: for better appearance */
}

.side_nav ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}

.side_nav ul li {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #363c50;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: #585f7a;
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
}

.side_nav ul li:last-child {
  width: 60px;
  height: 80px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: #585f7a;
  font-size: 3.3rem;
  font-weight: bolder;
}

.side_nav ul li.active {
  background-color: #222633;
  width: 70px;
}

header {
  width: 100%;
  min-height: 700px;
  height: 100vh;
}

.brief_mobile_ul,
.brief_mobile {
  display: none;
}

.main_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 25px;
  background-color: #222633;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.25);
}

.main_nav_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main_nav_logo h6 {
  font-size: 2.4rem;
  color: #c6a163;
  /* text-shadow: 2px 2px 4px rgb(53, 41, 12); */
}

.main_nav_ul {
  display: flex;
}

.main_nav_li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-right: 1px solid #fff;
  font-size: 1.8rem;
}

.menu {
  display: none;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  width: 100%;
  height: 100svh;
  background-color: rgb(16, 43, 64, 0.65);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.25s;
}

.menu_visible {
  display: block;
  opacity: 1;
  user-select: auto;
  pointer-events: unset;
}

.inner_menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  height: 100%;
  background-color: #222633;
  box-shadow: 0px 0px 15px 5px rgba(21, 21, 21, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 25px;
  animation: enterViewRight 0.35s ease-out forwards;
}

.inner_menu::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 96%;
  height: 98%;
  border: 2px solid rgb(255, 255, 255, 0.1);
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.inner_menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.inner_menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid transparent;
}

.inner_menu ul li:hover {
  background-color: #363c50;
  /* border-bottom: 1px solid #fff;
  border-top: 1px solid #fff; */
}

.inner_menu ul li a,
.inner_menu ul li button {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.7rem;
}

.inner_menu ul li span {
  font-size: 1.2rem;
  margin-right: 10px;
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-width: 32px;
  width: 100%;
  height: 100%;
}

.dropdown_menu span {
  display: block;
  min-width: 100%;
  width: 100%;
  border-radius: 2px;
  border: 2px solid #fff;
}

.menu_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hero {
  position: relative;
  width: 100%;
  min-height: calc(700px - 120px);
  height: 100%;
  background-image: url("./assets/bg.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
  /* -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75); */
  transform: scale(1.01);
  animation: appearIn 0.5s ease-out forwards;
}

@keyframes appearIn {
  from {
    opacity: 0.75;
    filter: blur(3px);
    transform: scale(1.01);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
}

.hero_description {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  /* padding: 0 15px; */
}

.main_word {
  display: inline-block;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
  color: #102b40;
  text-shadow: 1px 1px 2px #000000;
  height: 6rem;
}

.hero h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 3.6rem;
  text-shadow: 2px 2px 4px #222633;
}

.hero h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px #222633;
}

.btn_default {
  width: 250px;
  padding: 10px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #222633;
  font-size: 1.6rem;
  text-align: center;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.75);
  transition: all 0.25s;
}

.decor1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 95, 105, 0.25);
  clip-path: polygon(0 0, 30% 0, 50% 100%, 0% 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: enterViewLeft 0.75s ease-out forwards;
}

.decor2 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 95, 105, 0.25);
  clip-path: polygon(0 95%, 100% 70%, 100% 100%, 0% 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: enterViewRight 0.85s ease-out forwards;
}

@keyframes enterViewLeft {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes enterViewRight {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

.brief {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.brief_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 115px;
  background-color: #222633;
  border-radius: 15px;
  box-shadow: 1px 10px 32px 5px rgba(21, 21, 21, 0.25);
  -webkit-box-shadow: 1px 10px 32px 5px rgba(21, 21, 21, 0.25);
  -moz-box-shadow: 1px 10px 32px 5px rgba(21, 21, 21, 0.25);
  background-image: url("./assets/bg_noise2.png");
  background-repeat: repeat;
  font-size: 2.8rem;
  text-align: center;
  transform: translateY(25px);
  user-select: none;
  opacity: 0;
  animation: appearUp 0.55s ease-out forwards;
}

.brief_card a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brief_card:nth-child(1) {
  animation-delay: 0.25s;
}
.brief_card:nth-child(2) {
  animation-delay: 0.5s;
}
.brief_card:nth-child(3) {
  animation-delay: 0.75s;
}
.brief_card:nth-child(4) {
  animation-delay: 0.75s;
}
.brief_card:nth-child(5) {
  animation-delay: 1s;
}

@keyframes appearUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(-135px);
  }
}

.brief_card::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -5%;
  width: 50%;
  border: 3px solid #fff;
  border-radius: 5px;
  transition: all 0.25s;
}

.brief_card_ball {
  position: absolute;
  top: -25px;
  left: 15%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  background-color: #222633;
  transform: translate(-50%, 0);
  background-image: url("./assets/bg_noise2.png");
  background-repeat: repeat;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.75);
  /* -webkit-box-shadow: 10px 10px 12px -2px rgba(207, 207, 207, 0.75);
  -moz-box-shadow: 10px 10px 12px -2px rgba(207, 207, 207, 0.75); */
}

.introduction {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  min-height: 500px;
  padding: 15px 35px;
  display: grid;
  grid-template-columns: minmax(380px, 300px) 1fr;
  gap: 50px;
}

.introduction_bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 65%);
  background-color: rgb(88, 95, 122);
}

.introduction_img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/building.webp");
  border-radius: 5px;
  border: 1px solid rgb(88, 95, 122);
  transform: translateY(-50px);
  overflow: hidden;
}

.introduction_img h6 {
  display: none;
}

.introduction_description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 0;
}

.introduction_description h5 {
  font-size: 2.8rem;
  text-shadow: 2px 2px 4px #222633;
}

.introduction_description_main {
  display: flex;
  gap: 15px;
}

.introduction_description_main span.decor {
  font-size: 18rem;
  line-height: 12rem;
  text-shadow: 2px 2px 4px #222633;
  color: #c6a163;
}

.introduction_description_main h6 {
  font-size: 1.8rem;
  font-weight: normal;
}

.text_end {
  /* display: flex;
  justify-content: flex-end; */
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
}

.main_title {
  color: #222633;
  text-align: center;
}

.main_title h2 {
  font-weight: bold;
  font-size: 3rem;
}

.main_title h3 {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 2.2rem;
}

.services_ul {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.services_ul li {
  touch-action: manipulation;
}

.services_ul li:nth-child(odd) {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 15px 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #222633;
  background-image: url("./assets/bg_noise2.png");
  background-repeat: repeat;
  transform: translateX(-35%);
  opacity: 0;
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
}

.services_ul li:nth-child(odd).appear_in {
  animation: enterViewLeftDerray 0.75s ease-out forwards;
}

@keyframes enterViewLeftDerray {
  from {
    transform: translateX(-35%);
    opacity: 0;
  }
  to {
    transform: translateX(-3%);
    opacity: 1;
  }
}

.services_ul li:nth-child(even) {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 15px 40px;
  border: 1px solid #222633;
  border-radius: 5px;
  color: #222633;
  transform: translateX(35%);
  opacity: 0;
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
}

.services_ul li:nth-child(even).appear_in {
  animation: enterViewRightDerray 0.75s ease-out forwards;
}

@keyframes enterViewRightDerray {
  from {
    transform: translateX(35%);
    opacity: 0;
  }
  to {
    transform: translateX(3%);
    opacity: 1;
  }
}

#services,
#job_safety,
#introduction,
#consultation,
#footer {
  /* Offset from the top */
  scroll-margin-top: 100px;
}

.services_ul li::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -5%;
  width: 30%;
  border: 3px solid #d6d6d6;
  border-radius: 5px;
  transition: all 0.25s;
}

.services_li_numb {
  font-size: 4rem;
  line-height: 2.4rem;
  color: goldenrod;
}

.services_li_body h2 {
  font-size: 2rem;
  font-weight: bold;
}

.services_li_body p {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: normal;
}

.consultation {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 425px;
  background-image: url("./assets/bg3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.consultation::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 34, 49, 0.65);
}

.consultation_steps {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.consultation_steps button {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #585f7a;
  border-radius: 10px;
  background-color: #222633;
  color: #585f7a;
  font-family: serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
}

.consultation_steps button.consultation_steps_sltd {
  border: 1px solid #222633;
  background-color: #c6a163;
  color: #222633;
}

/* Container for the select (optional, for layout control) */
.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

/* Label styling (if used) */
label[for="regime-select"],
label[for="regime-number"] {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: #fff;
}

/* Styling the select element */
#regime-select,
#regime-number {
  width: 350px;
  padding: 15px;
  border: 1px solid #222633;
  border-radius: 5px;
  background-color: #d6d6d6;
  color: #222633;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
  font-size: 1.7rem;
  font-weight: normal;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M8 12l-6-6h12l-6 6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

#regime-number {
  background-image: none;
}

/* Focus and hover states */
#regime-select:focus,
#regime-number:focus,
.fieldset_number input,
.select-container input {
  outline: none;
}

#regime-select:hover,
#regime-number:focus,
.fieldset_number input,
.select-container input {
  outline: none;
}

/* Styling the options (limited control) */
#regime-select option,
#regime-number option {
  font-size: 1.4rem;
  color: inherit;
  background-color: #d6d6d6;
}

/* Styling the disabled option (placeholder) */
#regime-select option:disabled,
#regime-number option:disabled {
  color: #222633;
  background-color: #363c50;
}

.fieldset_number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.fieldset_number input,
.select-container input {
  width: 125px;
  padding: 15px;
  border: 1px solid #222633;
  border-radius: 5px;
  background-color: #d6d6d6;
  color: #222633;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
  font-size: 1.7rem;
  font-weight: normal;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

.select-container input {
  width: 350px;
  padding: 15px;
}

.first_step,
.second_step,
.third_step,
.fourth_step {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.second_step_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.step_visible {
  display: flex;
}

.consultation h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.consultation_btn_start {
  width: 250px;
  padding: 15px;
  border: 1px solid #222633;
  /* text-shadow: 2px 2px 4px #222633; */
  border-radius: 5px;
  background-color: #c6a163;
  color: #222633;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px 0px rgb(34, 38, 51, 0.75);
  transition: all 0.25s;
}

.our_mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #222633;
  background: #222633 url("./assets/bg_noise2.png");
  background-repeat: repeat;
}

.our_mission_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
}

.our_mission_description {
  padding: 30px 10px;
  max-width: 500px;
}

.our_mission h2 {
  color: #c6a163;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 50px;
}

.our_mission h6 {
  font-size: 1.5rem;
  text-align: left;
  font-weight: normal;
}

.our_mission_image {
  min-width: 300px;
  width: 400px;
  height: 400px;
  max-width: 400px;
  border-radius: 5px;
  background-image: url("./assets//bg2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

footer {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 50px 100px 100px;
  background-color: #222633;
}

footer::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./assets/officeLIGHT.webp");
  background-size: cover;
  background-position: bottom;
  opacity: 0.15;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.4) 80%,
    rgba(0, 0, 0, 0.9) 90%,
    black 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.4) 80%,
    rgba(0, 0, 0, 0.9) 90%,
    black 100%
  );
}

.new_footer {
  display: flex;
  justify-content: space-between;
}

.footer_left_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_social {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_social li {
  padding: 3.5px;
  border: 1px solid #c6a163;
  border-radius: 3px;
  background-color: #c6a163;
  color: #222633;
}

.footer_right_area {
  display: flex;
  gap: 30px;
}

.footer_navigation,
.footer_contact,
.footer_working_hours {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_navigation li:first-child,
.footer_contact li:first-child,
.footer_working_hours h6 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.footer_navigation li a,
.footer_contact li,
.footer_working_hours p {
  font-size: 1.4rem;
}

.footer_navigation li:not(:first-child):hover,
.footer_contact li:not(:first-child):hover {
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

.working_hours {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright {
  position: absolute;
  bottom: 25px;
  left: 50%;
  color: #fff;
  font-size: 1rem;
  transform: translateX(-50%);
}

.contact_wa_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8.5px 15px;
  color: #222633;
  border: 1px solid #c6a163;
  border-radius: 13px;
  background-color: #c6a163;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
}

.footer_contact_map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%;
  padding: 25px;
  overflow: hidden;
}

.footer_contact_map iframe {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 300px;
  border: 3px solid #222633;
  border-radius: 8px;
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
  overflow: hidden;
}

/* .footer_logo {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 1px 10px 15px 0px rgba(21, 21, 21, 0.25);
} */

.big_letter {
  font-size: 4rem;
  font-weight: bold;
}

.news {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  padding: 20px 10px;
  color: #222633;
}

.news_our_picks_h2 {
  font-size: 2rem;
  font-weight: bold;
}

.news_our_picks_h3 {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: normal;
}

.news_our_picks_ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 25px 0 0;
}

.news_our_picks_ul li {
  display: flex;
  gap: 25px;
  padding: 10px;
  color: #222633;
  border-bottom: 2px solid #212121;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgb(34, 38, 51, 0.5);
  transition: background 0.25s;
}

.news_our_picks_ul li:hover {
  background-color: rgb(88, 95, 122, 0.15);
}

.news_our_picks_ul li h2 {
  margin-top: 2.5px;
  font-size: 1.6rem;
  font-weight: bold;
}

.news_swiper {
  width: 600px;
  height: 400px;
}

.swiper-slide {
  position: relative;
  height: 100%;
}

.swiper_slide_inner {
  padding: 10px;
  cursor: pointer;
}

.news_swiper_main_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgb(34, 38, 51, 0.5);
  overflow: hidden;
}

.news_swiper_main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news_slide_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  bottom: 50px;
  left: 50%;
  width: 80%;
  max-width: 80%;
  min-height: 120px;
  padding: 10px;
  border-bottom: 2px solid #212121;
  border-radius: 3px;
  background-color: #fff;
  color: #222633;
  box-shadow: 0px 0px 10px 0px rgb(34, 38, 51, 0.5);
  transform: translateX(-50%);
  user-select: none;
}

.news_slide_info h2 {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: bold;
}

.news_slide_date {
  font-size: 1.4rem;
}

.news_slide_author {
  display: flex;
  align-items: center;
  gap: 20px;
}

.news_slide_author h6 {
  color: #c6a163;
}

.news_slide_author h5,
.news_slide_author h6 {
  font-size: 1.3rem;
}

.news_slide_author img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.swiper-pagination {
  position: unset;
  bottom: unset;
  left: unset;
  right: unset;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.swiper-pagination-bullet {
  width: 35px;
  height: 6px;
  border-radius: 1px;
  background-color: #585f7a;
  opacity: 0.35;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #c6a163;
}

.swiper_commands {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transform: translateY(-10px);
}

.swiper_progressbar_outter {
  width: 100%;
  height: 6px;
  border-radius: 1px;
  background-color: rgb(88, 95, 122, 0.35);
  overflow: hidden;
}

.swiper_progressbar_inner {
  height: 100%;
  width: 0%;
  background-color: #c6a163;
  animation: progressbarFill 3s linear infinite;
}

@keyframes progressbarFill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.paused {
  animation-play-state: paused !important;
}

/* .template_content {
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  overflow: auto;
}

.template_bg_img {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  color: #222633;
  overflow: hidden;
}

.template_bg_img img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.template_bg_img h2 {
  font-size: 6rem;
}

.template_body {
  max-width: 1000px;
  margin: 50px auto;
  color: #222633;
}

.template_body p {
  font-size: 2rem;
} */

@media screen and (max-width: 1250px) {
  .hero_description {
    top: 15%;
    gap: 25px;
  }

  .main_word {
    padding: 0 5px;
    height: 4.5rem;
  }

  .hero h2 {
    font-size: 3rem;
  }

  .hero h3 {
    font-size: 1.8rem;
  }

  .btn_default {
    font-size: 1.6rem;
  }

  .brief {
    gap: 25px;
    padding: 0 20px;
  }

  .brief_card {
    width: 275px;
    height: 100px;
    border-radius: 5px;
    font-size: 1.8rem;
    transform: translateY(-115px);
  }

  .brief_card_ball {
    width: 40px;
    height: 40px;
  }

  .brief_card_ball svg {
    width: 22px;
    height: 22px;
  }

  .introduction {
    width: auto;
    min-height: 550px;
    margin: 0 10px;
    grid-template-columns: minmax(310px, 310px) 1fr;
    gap: 15px;
  }

  .introduction_description {
    padding: 25px 50px 25px 0px;
  }

  .introduction_description_main span.decor {
    font-size: 14rem;
    line-height: 10rem;
  }

  .introduction_description_main h6 {
    font-size: 1.6rem;
  }

  .services_ul {
    padding: 50px 120px;
  }

  .services_ul li:nth-child(odd) {
    transform: translateX(-3%);
  }

  .services_ul li:nth-child(even) {
    transform: translateX(3%);
  }

  footer {
    padding: 50px 50px 100px;
  }

  footer::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./assets/officeLIGHT.webp");
    background-size: cover;
    background-position: bottom;
    opacity: 0.15;
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0.3) 70%,
      rgba(0, 0, 0, 0.4) 80%,
      rgba(0, 0, 0, 0.9) 90%,
      black 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0.3) 70%,
      rgba(0, 0, 0, 0.4) 80%,
      rgba(0, 0, 0, 0.9) 90%,
      black 100%
    );
  }

  .new_footer {
    display: flex;
    justify-content: space-between;
  }

  .footer_left_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer_social {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer_social li {
    padding: 3.5px;
    border: 1px solid #c6a163;
    border-radius: 3px;
    background-color: #c6a163;
    color: #222633;
  }

  .footer_right_area {
    display: flex;
    gap: 30px;
  }

  .footer_navigation,
  .footer_contact,
  .footer_working_hours {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .footer_navigation li:first-child,
  .footer_contact li:first-child,
  .footer_working_hours h6 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .footer_navigation li a,
  .footer_contact li,
  .footer_working_hours p {
    font-size: 1.4rem;
  }

  .copyright {
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-size: 1rem;
    transform: translateX(-50%);
  }

  .contact_wa_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.5px 15px;
    color: #222633;
    border: 1px solid #c6a163;
    border-radius: 13px;
    background-color: #c6a163;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
  }
}

@media screen and (max-width: 860px) {
  .cookie_modal {
    height: 220px;
  }

  .cookie_modal p {
    font-size: 1.5rem;
  }

  .cookie_modal button {
    width: 150px;
    margin-left: auto;
    padding: 7.5px 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    background-color: #222633;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }

  .inner_menu {
    width: 75%;
  }

  .inner_menu ul {
    gap: 15px;
  }

  .side_nav {
    display: none;
  }

  .main_nav {
    padding: 0 10px;
  }

  .main_nav_logo {
    gap: 10px;
  }

  .main_nav_logo img {
    width: 38px;
  }

  .main_nav_logo h6 {
    font-size: 1.85rem;
  }

  .main_nav_li:nth-child(1) {
    display: none;
  }

  header {
    width: 100%;
    min-height: 400px;
    height: 55svh;
  }

  .main_word {
    padding: 0 5px;
    height: 3.3rem;
  }

  .hero {
    height: 100%;
    min-height: unset;
  }

  .hero::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    background-color: rgba(29, 34, 49, 0.65);
  }

  .decor1,
  .decor2 {
    opacity: 0.35;
    background-color: #fff;
  }

  .brief {
    display: none;
  }

  .brief_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #102b40;
    min-height: 45svh;
    height: 45svh;
    padding: 30px 2.5px;
    color: #c6a163;
    box-shadow: 2px 2px 15px 5px #222633;
  }

  .brief_mobile h2 {
    font-size: 2rem;
    text-align: center;
    max-width: 200px;
  }

  .brief_mobile h3 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    margin: 10px 0 40px;
  }

  .brief_mobile_ul {
    display: flex;
    gap: 20px;
    padding: 0 7.5px;
  }

  .brief_mobile_ul li {
    width: 100%;
  }

  .brief_mobile_ul li a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .brief_mobile_ul li h6 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
  }

  .brief_mobile_svg {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #c6a163;
  }

  .hero_description {
    top: 50%;
    left: 50%;
    gap: 20px;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .hero h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  .hero h3 {
    font-size: 1.6rem;
    font-weight: normal;
    color: #c6a163;
  }

  .hero_svg {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, 0);
    animation: bounce 2s ease-in-out infinite;
  }

  @keyframes bounce {
    0% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, -10px);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }

  .btn_default {
    display: none;
    /* width: 180px;
    font-size: 1.6rem; */
  }

  .brief {
    margin: 0 auto;
    padding: 0 20px;
    gap: 30px;
  }

  .introduction_description_main span.decor {
    font-size: 10rem;
    line-height: 8rem;
    text-shadow: 2px 2px 4px #222633;
    color: #c6a163;
  }

  .introduction {
    margin: 20px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
  }

  .introduction_img {
    position: relative;
    z-index: -1;
    width: 80%;
    height: 280px;
    transform: translateY(0px);
    margin: 0 auto;
    box-shadow: 4px 4px 18px 5px #222633;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introduction_img h6 {
    font-size: 2.4rem;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px #222633;
  }

  .text_end {
    display: none;
  }

  .introduction_description {
    padding: 25px 10px;
  }

  .brief_card {
    width: 90%;
    transform: translateY(-0);
    font-size: 2.2rem;
    font-weight: normal;
    touch-action: manipulation;
  }

  .main_title h2 {
    margin-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .main_title h3 {
    margin: unset;
    font-size: 1.6rem;
  }

  .services_ul {
    padding: 30px 40px;
  }

  .services_ul li:nth-child(odd) {
    transform: translateX(-1%);
  }

  .services_ul li:nth-child(even) {
    transform: translateX(1%);
  }

  .services_ul li::before {
    left: -2%;
    bottom: 5%;
  }

  .our_mission_inner {
    justify-content: center;
  }

  .our_mission_image {
    display: none;
  }

  .second_step_inner {
    flex-direction: column;
    gap: 15px;
  }

  label[for="regime-select"],
  label[for="regime-number"] {
    font-size: 2rem;
  }

  #regime-select,
  #regime-number {
    padding: 12.5px;
    font-size: 1.6rem;
  }

  .consultation_btn_start {
    padding: 12.5px;
    font-size: 1.6rem;
  }

  .news_our_picks {
    display: none;
  }

  footer {
    padding: 50px 15px 100px;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .footer_left_area {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
  }

  .footer_social {
    align-self: flex-end;
  }

  .footer_right_area {
    justify-content: space-between;
    gap: 0px;
  }

  .footer_navigation {
    display: none;
  }

  .footer_navigation li:first-child,
  .footer_contact li:first-child,
  .footer_working_hours h6 {
    margin-bottom: 10px;
    font-size: 1.45rem;
    font-weight: bold;
  }

  .footer_navigation li a,
  .footer_contact li,
  .footer_working_hours p {
    font-size: 1.2rem;
  }

  .copyright {
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-size: 1rem;
    transform: translateX(-50%);
  }

  .contact_wa_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.5px 15px;
    color: #222633;
    border: 1px solid #c6a163;
    border-radius: 13px;
    background-color: #c6a163;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
  }
}
