/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* CUSTOM DEFAULT STYLES VARIABLES */
:root {
  --color-custom1: #f1dabb;
  --color-custom2: #3f200b;
}

/* SET THE STYLES BASED ON THE USER SYSTEM PREFERENCES FOR DARK THEME OR LIGHT THEME */
@media (prefers-color-scheme: dark) {
  /* IMPLEMENT THE FOLLOWING IF WE WANT TO ALLOW THE USER TO TOGGLE MANUALLY LIGHT DARK MODE */
  /* :root:not(.light) {
    This will apply if no class is set OR if 'dark' class is there
    --decor-color-1: green;
    Other dark theme variables
  } */
}

/* if light will use already the above :root variables */
@media (prefers-color-scheme: light) {
  /* :root {
  } */
}

/* CUSTOM STYLES SETTINGS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* SETTING SOME DEFAULT STYLES */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f7f7f7;
  overflow-x: hidden;
}

body {
  background-color: #f7f7f7;
  /* background-image: url("./assets/bg_noise.png"); */
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

button,
fieldset,
a {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  background-image: url("/fallback-avatar.png");
  background-size: cover;
  background-position: center;
}

body {
  background-color: #222633;
}

main {
  position: relative;
  z-index: 2;
}

.introduction {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  min-height: 500px;
  padding: 15px 35px;
  display: grid;
  grid-template-columns: minmax(380px, 300px) 1fr;
  gap: 50px;
}

.introduction_bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 65%);
  background-color: #222633;
}

.introduction_img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/building.webp");
  border-radius: 5px;
  border: 1px solid rgb(88, 95, 122);
  transform: translateY(-50px);
  overflow: hidden;
}

.introduction_img h6 {
  display: none;
}

.introduction_description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 0;
}

.introduction_description h5 {
  font-size: 2.8rem;
  font-family: "Cinzel", serif;
  font-weight: normal;
  text-shadow: 2px 2px 4px #222633;
}

.introduction_description_main {
  display: flex;
  gap: 15px;
}

.introduction_description_main span.decor {
  font-size: 18rem;
  line-height: 12rem;
  text-shadow: 2px 2px 4px #222633;
  color: #c6a163;
}

.introduction_description_main h6 {
  font-size: 1.8rem;

  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.text_end {
  /* display: flex;
  justify-content: flex-end; */
  font-family: "Cinzel", serif;
  font-weight: normal;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
}
