/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dawning-of-a-new-day-regular {
  font-family: "Dawning of a New Day", cursive;
  font-weight: 400;
  font-style: normal;
}

/* CUSTOM STYLES VARIABLES */
:root {
  --font-main: "Playfair Display", serif;
  --font-secondary: "Ephesis", serif;
  --text_color-main: #e7f0ef;
  --text_color-secondary: #313131;
  --decor-color-1: #f18055;
  --decor-color-1-op8: rgba(241, 128, 85, 0.8);
  --decor-color-2: #313131;
  --decor-color-2-op6: rgb(49, 49, 49, 0.6);
  --decor-color-3-op45: rgba(0, 0, 0, 0.6);
}

/* SET THE STYLES BASED ON THE USER SYSTEM PREFERENCES FOR DARK THEME OR LIGHT THEME */
@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

@page {
  size: A4 portrait;
  margin: 0; /* Adjust as needed */
}

/* CUSTOM STYLES SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* SETTING SOME DEFAULT STYLES */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-main);
  font-weight: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text_color-main);

  width: 210mm;
  max-width: 210mm;
}

body {
  background-color: #e5e5e5;
}

button,
a {
  background: none;
  background-color: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
}

.page1,
.page2,
.page3,
.page4,
.page5 {
  width: 100%;
  height: 297mm;
  position: relative;
  overflow: hidden;
}

.bg_cont {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("./images/romeLIGHT.webp");
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  /* filter: blur(1px); */
  /* filter: grayscale(100%); */
}

.bg_cont::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* background-color: rgba(21, 21, 58, 0.3); */
}

.clipped1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 60%, 0% 100%, 100% 100%);
  background-color: rgba(184, 184, 221, 0.2);
}

.clipped2 {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 16%, 33% 100%, 100% 100%);
  clip-path: polygon(63% 0, 0 0, 0 100%);
  background-color: rgba(184, 184, 221, 0.2);
}

.logo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 900px;
  height: fit-content;
}

.clipped3 {
  position: absolute;
  z-index: -1;
  top: 0;
  r: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(33% 0, 100% 100%, 100% 0);
  background-color: rgba(21, 21, 58, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.hide {
  color: transparent;
  text-shadow: none;
}

.content1 {
  width: 70%;
  margin-top: 80px;
  height: 400px;
  background-image: url("./images/profLIGHT.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(21, 21, 58, 0.6);
}

.content2 {
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 10%;
  width: 70%;
  height: 122px;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(21, 21, 58);
}

.content2 p {
  text-transform: uppercase;
  font-size: 3.2rem;
  text-align: center;
}

.content3 {
  width: 600px;
  margin: 2rem 0 0 80px;
  padding: 4rem 2rem 2rem 2rem;
  font-size: 1.8rem;
  border-radius: 4px;
  color: #313131;
  transform: translateZ(0);
}

.page2 ul {
  margin-top: 14rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  color: black;
}

.page2 ul li {
  position: relative;
  width: 100%;
  padding-top: 3.5rem;
  border-top: 4px solid #1b2a40;
  font-size: 2rem;
  text-align: center;
}

.clipped4 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 16%, 33% 100%, 100% 100%);
  background-color: rgba(21, 21, 58, 0.2);
}

.handshake {
  width: 200px;
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
}

.handshake svg {
  background-color: rgba(21, 21, 58, 1);
  padding: 1.5rem;
  border-radius: 50%;
  margin-top: 1.5rem;
  color: #d4af37;
}

.page3 {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.number {
  color: rgb(160, 159, 90);
  font-size: 2.2rem;
  margin-right: 2.5rem;
  font-weight: bolder;
}

.bolder {
  font-size: 3.3rem;
  font-weight: bolder;
}

.page3 h2 {
  color: #313131;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.description {
  position: relative;
  margin-top: 20rem;
  padding: 3rem;
  font-size: 1.6rem;
  color: #313131;
  background-color: rgba(229, 229, 229, 255);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.pagecount1 {
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(21, 21, 58, 0.6);
  color: #e7f0ef;
  font-size: 2.6rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.around {
  margin-top: 25rem;
  width: 400px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.around h6 {
  font-weight: bolder;
  font-size: 8rem;
  color: #313131;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.around1 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid rgb(160, 159, 90);
  transform: rotate(0deg) translateX(-50%);
}

.around1 p,
.around2 p,
.around3 p,
.around4 p,
.around5 p,
.around6 p {
  position: absolute;
  top: -150px;
  left: -75px;
  color: #313131;
  font-size: 2rem;
  border-bottom: 1px solid #1b2a40;
}

.around2 p {
  transform: rotate(-25deg);
}

.around3 p {
  transform: rotate(-45deg);
}

.around1 p::after,
.around2 p::after,
.around3 p::after,
.around4 p::after,
.around5 p::after,
.around6 p::after {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 20px;
  height: 28px;
  content: "";
  transform: translateY(-50%);
  background-color: #1b2a40;
}

.around2 p {
  top: -200px;
  left: -40px;
}
.around3 p {
  top: -260px;
  left: 180px;
}

.around4 p {
  transform: rotate(-135deg);
  top: -250px;
  left: 200px;
}

.around5 p {
  transform: rotate(-155deg);
  top: -190px;
  left: 240px;
  width: 190px;
}
.around6 p {
  transform: rotate(-175deg);
  top: -130px;
  left: 390px;
  width: 120px;
}

.around2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #1b2a40;
  transform: rotate(25deg);
}
.around3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid rgb(37, 82, 37);
  transform: rotate(45deg) translate(-50px, 50px);
}
.around4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid rgb(160, 159, 90);
  transform: rotate(135deg) translate(50px, 50px);
}
.around5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #1b2a40;
  transform: rotate(155deg);
}
.around6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid rgb(37, 82, 37);
  transform: rotate(175deg);
}

.page3bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/galaxyLIGHT.webp");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

.page3bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(229, 229, 229, 1) 0%,
    rgb(229, 229, 229, 0) 30%,
    rgb(229, 229, 229, 0) 70%,
    rgb(229, 229, 229, 1) 100%
  );
}

.page3 h3 {
  color: #313131;
  font-size: 2rem;
  transform: translateY(-20px);
}

.page4 {
  padding: 6rem 0;
}

.page4 ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
  padding-right: 10rem;
}

.page4 ul li:nth-child(odd) {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(21, 21, 58, 1);
  display: flex;
  padding: 1.5rem 1rem 1.5rem 3rem;
  font-size: 1.7rem;
  transform: translateX(3rem);
  height: auto;
}

.page4 ul li:nth-child(even) {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid rgba(21, 21, 58, 0.2);
  background-color: #e5e5e5;
  transform: translateX(-3rem);
  display: flex;
  padding: 1.5rem 1rem 1.5rem 3rem;
  font-size: 1.7rem;
  color: #313131;
  height: auto;
}

.long_Text {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.page5bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("./images/officeLIGHT.webp");
  background-size: cover;
  transform: scaleX(-1);
  opacity: 0.9;
}

.page5bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #e5e5e5 0%,
    rgb(229, 229, 229) 40%,
    rgb(229, 229, 229, 0.8) 70%,
    rgb(229, 229, 229, 0.4) 80%,
    rgb(229, 229, 229, 0) 100%
  );
  z-index: 2; /* On top of the image */
}

/* mask-image: linear-gradient(
  to bottom,
  rgb(0, 0, 0, 0) 0%,
  rgb(0, 0, 0, 0) 40%,
  rgb(0, 0, 0, 0.4) 70%,
  rgb(0, 0, 0, 0.8) 80%,
  rgb(0, 0, 0, 0.9) 100%
); */

.signature {
  font-size: 8rem;
  color: #313131;
  position: absolute;
  bottom: 14rem;
  right: 6rem;
  z-index: 10;
}

.page5 p {
  padding: 12rem;
  padding-bottom: 10.5rem;
  line-height: 2.5rem;
  position: relative;
  z-index: 10;
  font-size: 1.7rem;
  color: #313131;
}

.page5 h6 {
  font-weight: normal;
  font-size: 1.7rem;
  color: #313131;
  display: block;
  margin: auto;
}

.aside {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  width: 5rem;
  height: 12rem;
  background-color: rgba(21, 21, 58, 0.6);
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 3rem;
}

.logotext {
  text-align: center;
  padding: 2rem;
  padding-right: 1rem;
  padding-left: 4rem;
  width: 100%;
  font-size: 5.2rem;
  letter-spacing: 0.32em;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  z-index: 1;
  color: rgba(21, 21, 58, 1);
  color: #e5e5e5;
  /* background-color: rgba(21, 21, 58); */
  /* background-color: rgba(255, 255, 255, 0.8); */
  font-weight: bold;
  font-style: italic;
  /* clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%); */
  z-index: 20;
  margin-bottom: 10rem;
}

.small {
  font-size: 2.4rem;
  letter-spacing: 0;
  font-style: normal;
}
